button {
    width: 150px;
    height: 50px;
    border: 1px solid $color6;
    border-radius: 5px;
    background-color: transparent;
    color: $color6;

    &:hover {
        animation: btn-hover 0.3s ease-in-out both;
    }
}

@keyframes btn-hover {
    100% {
        background-color: $color6;
        color: $white;
        font-size: 17px;
        border-radius: 0;
    }
}
