button {
    width: 150px;
    height: 50px;
    border: 1px solid $color6;
    background-color: transparent;
    color: $color6;

    &:hover {
        animation: btn-hover 0.3s ease-in-out both;
    }
}

@keyframes btn-hover {
    100% {
        background-color: $color6;
        color: $white;
        font-size: 18px;
        border-radius: 10px;
        box-shadow: 0 0 5px 1px $color7;
    }
}
