.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;

    p {
        color: $color7;
    }

    &-social {
        @media screen and (max-width: 780px) {
            width: 90%;
        }

        ul {
            list-style-type: none;

            li {
                cursor: pointer;
            }
        }
    }

    .pepiteggs-containter {
        width: 90%;
    }

    .pepiteggsContent {
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
        }
        .pepiteggs {
            color: greenyellow;
        }
    }
}

.is-active {
    display: initial;
}

.is-inactive {
    display: none;
}

.showPepiteggs {
    cursor: pointer;
}
