.footerContent {
  background-color: #1d695b;
  display: flex;
  align-items: center;
  padding: 100px;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 880px) {
    padding: 33px;
  }

  p {
    color: $white;
  }

  &-social {
    @media screen and (max-width: 880px) {
      margin-bottom: 50px;
    }
    h4 {
      color: white;
      font-style: italic;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      margin-bottom: 20px;

      li {
        cursor: pointer;
        color: $orange;
      }
    }

    &-icons {
      display: flex;

      svg {
        font-size: 30px;
        margin-right: 10px;
        color: $orange;
      }
    }
  }

  &-form {
    max-width: 50%;
    min-width: 500px;
    @media screen and (max-width: 880px) {
      max-width: inherit;
      min-width: inherit;
    }

    &-content-txt {
      & span {
        color: $orange;
      }
    }
  }
}

.pepiteggs-container {
  background: black;
  color: white;
  text-align: center;
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    color: skyblue;
    margin-left: 10px;
    display: flex;
  }
}

.pepiteggsContent {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
  }
  .pepiteggs {
    color: greenyellow;
  }
}

.is-active {
  display: initial;
}

.is-inactive {
  display: none;
}

.showPepiteggs {
  cursor: pointer;
}
