* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Uncut Sans", sans-serif;
    font-display: swap;
}

html {
    background-color: $color5;
    font-size: calc(15px + 0.390625vw) !important;
}

body {
    min-height: 100vh;
    width: 100%;
}

#CybotCookiebotDialog {
    @media screen and (max-width: 780px) {
        width: 200px !important;
    }
}

h1 {
    font-family: "Forum", cursive;
    // font-size: 1.8rem;
}

h2,
p {
    font-family: "Work Sans", sans-serif;
    // font-size: 1.2rem;
}
